@model IEnumerable<myMovieWatchlistLibrary.Models.Movie>
@{
    ViewData["Title"] = "Details";
}

    <h1 class="display-4">@ViewBag.ListName</h1>
    <p>@ViewBag.ListDes</p>

    <div class="text-right">
        <h3>@Html.ActionLink("Add a Movie", "Create", new { listID = ViewBag.ID })</h3>
        </div>

        <div class="text-left">
            <table class="table table-hover table-borderless">
                <thead>

                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Movies)
                    {
                        <tr>
                            <td>@item.DateAdded</td>
                            <td style="font-weight:bold">@item.Name (@item.Year)</td>
                            
                            <td>@item.IsWatched</td>
                            <td>
                                @Html.ActionLink("Edit", "Update", new { movieID = item.ID, listID = ViewBag.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { movieID = item.ID, listID = ViewBag.ID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <h5>@Html.ActionLink("Back to Lists", "Index", "Home")</h5>
        </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
